 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
   
}
.container{
    background-color: #fff;
    width: 25vw;
    border-radius: 10px;
    border: 1px solid rgba(220, 220, 220, 0.61);
    box-shadow: 6px 4px 13px 3px #00000060;
}
.card{
    padding: 14px;
}
.card-img{
     margin: -6px -6px 0;
    border-radius: 8px;
}
.card-img img{
    border-radius: 8px;
}
.card-btn1 ol{
    display: flex;
    margin: 7px;
    padding: 0;
    /* padding: 0 20px; */
}
.card-btn1 ol li{
    list-style-type: none;
    padding: 2px 7px;
    margin: 5px 5px 0 0;
    border: 2px solid gainsboro;
    border-radius: 42px;
    color: grey;
}

.card-heading h1{
    margin: 20px 0;
    color: #0e2632;
    font-size: 30px
}

.card-content{
    color:grey;
    font-size: 17px;
    text-transform: none;
    line-height: 1.5;
}
.card-btn2{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.card-btn2 button{
    border: none;
    padding: 14px 20px;
    background-color: #e0efff;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    color: #268bff;
    border-radius: 40px;
}
