* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  background: #edeaff;
}
.container {
  width: 100%;
  max-width: 460px;
  background: #fcfcfc;
  display: flex;
  flex-direction: column;
  margin: 100px auto 50px;
  border-radius: 10px;
  padding: 10px;
  /* justify-content: space-around; */
}
.form-content {
  gap: 10px;
}
.form-field {
  /* width: 200px; */
  font-size: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-field input {
  outline: 0;
  border: 0;
  border: 1px solid rgba(128, 128, 128, 0.644);
  font-size: 20px;
  border-radius: 5px;
  background: transparent;
}
 
#pass {
  margin-left: 23px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.fa-eye, .fa-eye-slash{
  padding: 0 5px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.644);
  border-radius: 0 5px 5px 0;
  color: rgb(250, 4, 106);
  padding: 4px;
}
.con-for-pass {
  display: flex;
}
.submit{
    margin: 30px 0 20px 0;
    text-align: center;
}
.submit-btn{
    padding: 5px 10px ;
    border-radius: 10px;
    border: 0;
    background: rgb(250, 4, 106);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}