@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #010758, #490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container h1 {
  color: #fff;
  font-size: 1.6rem;
  margin-top: -50px;
  margin-bottom: 50px;
  text-transform: capitalize;
}
.container h1 span {
  font-size: 1.6rem;
  color: #ff2968;
  position: relative;
}
.container h1 span::after {
  content: "";
  width: 100%;
  height: 5px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
}
.container textarea {
  width: 100%;
  max-width: 600px;
  height: 250px;
  border-radius: 10px;
  background: #403d6184;
  border: 0;
  color: #fff;
  outline: none;
  font-size: 15px;
  resize: none;
  padding: 20px;
  margin-bottom: 30px;
}
textarea::placeholder {
  font-size: 16px;
  color: #ddd;
  text-transform: capitalize;
}
.last {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
}
.drp {
  flex: 1;
  margin: 10px;
  position: relative;
}
.drp-icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.dropdown {
  /* flex: 1; */
  background: #403d6184;
  width: 100%;
  border: 0;
    
  height: 50px;
  border-radius: 40px;
  color: #fff;
  appearance: none;
  padding: 0 20px;
  outline: none;

  font-size: 18px;
}
.speak {
  background: #ff2968;
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  border: 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.wave {
  display: flex;
  position: relative;
  width: 125px;
  height: 45px;
  overflow: hidden;
  border-radius: 30px;
}
.wave :nth-child(1) {
  position: absolute;
  left: -100px;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: waves 1s ease-in-out infinite alternate-reverse;
  margin-top: -30px;
}
.wave :nth-child(2) {
  margin-top: -30px;
  left: -100px;
  position: absolute;
  animation: waves2 1s ease-in-out infinite alternate-reverse;
}
@keyframes waves {
  from {
    /* width: 50px; */
    left: -100px;
  }
  to {
    /* width: 100px; */
    left: -50px;
  }
}
@keyframes waves2 {
  from {
    /* width: 50px; */
    left: -150px;
  }
  to {
    /* width: 100px; */
    left: -30px;
  }
}
@media screen and (max-width: 450px) {
    .container{
           padding:  10px;
    }
  .container h1 span {
    font-size: .9rem;
}
.container h1 {
    /* font-size: 1rem; */
    font-size: .9rem;
  }
  .last {
    flex-direction: column;
  }
  .drp {
    width: 100%;
  }
  .dropdown{
    font-size: 10px;
    max-width: 600px;
  }
  .drp-icon {
    right: 0;
    width: 17px;
    margin-right: 20px;
  }
}
