* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#fd5134, #000000f1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection {
  width: 290px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  background: #ffffff9f;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
}
.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding: 10px;
  background: #ffffff9f;
  border-radius: 5px;

  font-size: 20px;
  visibility: hidden;
}
.option {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
