* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background: #31363F;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 10px;
}
.left,
.right {
  width: 300px;
  height: 100%;
  max-height: 400px;
  border: 1px dotted #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heading{
  position: absolute;
  top: 0;
  padding: 10px;
  text-align: center;
  margin: 20px;
  padding: 0 40px;
  background: url("https://image.shutterstock.com/image-photo/old-wall-texture-cement-dark-260nw-1934014736.jpg");
  color: #fff;
  border-radius: 10px;
}
.list{
  margin-top: 20px;
  width: 100%;
}
.list-item {
  background: #76ABAE;
  width: 100%;
  height: 0;
  max-width: 230px;
  margin: 14px;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  cursor: grab;
  border-radius: 10px;
}
