* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body {
  background: #edeaff;
}
.container {
  position: relative;
  z-index: 1;
  /* background-color: #fff; */
  /* width: 100%; */
  /* overflow: hidden; */
  width: 90%;
  max-width: 600px;
  margin: 200px auto 0;
}
.stopwatch {
  border-radius: 10px;
  width: 100%;
  background: Linear-gradient(rgba(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url(images/background.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 45px 0;

  transition: all 1s ease-in-out;
}
.stopwatch h1 {
  font-size: 64px;
  /* margin: 60px 0 60px; */
  font-weight: 300;
}
.box {
  top: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  box-shadow: 5px 0 29px 10px #000000;
  transform: rotate(270deg);
  z-index: -1;

  animation-name: shadow;
  transition: all 2s ease-in;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border-radius: 10px;
  animation-play-state: paused;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 -20px;
}

.buttons img {
  width: 50px;
  margin: 20px;
  cursor: pointer;
}
.buttons img:nth-child(2) {
  width: 60px;
}

@keyframes shadow {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 95%;
    top: 0px;
  }
  50% {
    left: 95%;
    top: 89%;
  }
  75% {
    left: 0px;
    top: 89%;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
