* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  padding: 50px 0;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header-container {
  margin-bottom: 30px;

  flex-direction: column;
  background: #adabab31;

  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000070;
  backdrop-filter: blur(10px);
  position: relative;
}
.header h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}
.calculate {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#mass {
  box-shadow: 0 0 10px #00000070;
  padding: 10px;
  font-size: 20px;
  border: 0;
  outline: none;
  border-radius: 8px;
}
.select {
  border: 0;
  background: #2420201e;
  font-size: 18px;
  padding: 10px;
  color: #242020;
  outline: none;
  border-radius: 8px;
  backdrop-filter: blur(10px);
}

.calculateWeight {
  background: url("images/image.png");
  padding: 10px;
  font-size: 20px;
  border: 0;
  outline: none;
  border-radius: 8px;
  color: #fff;
  transition: background 0.4s linear;
  cursor: pointer;
}
.calculateWeight:hover {
  background: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3N3aXR5NHVoNHQ4NDVhcTBuaG80N3VxcXZtazE3emk5ZWtyZHE5NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xT8qBfjJhOmNPTVWU0/giphy.gif");
  transition: background 0.4s linear;
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}
.image img {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
   
}
.hero {
  width: 570px;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
}
.description {
  width: 100%;
  max-width: 220px;
  background: rgba(12, 13, 33, 0.699);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 29px;
  color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 10px;
  height: 250px;
  position: relative;
  z-index: -1;
  /* transition: position 0.4s linear; */
  left: -220px;
}
.animationStart {
  animation: anim 1.4s forwards ease-in-out;
}
.description article {
  background: #d4d2d22f;
 
  text-align: center;
  border-radius: 10px;
}
.description article span {
  font-weight: bold;
}

@keyframes anim {
  0% {
    left: -220px;
  }
  100% {
    left: 0;
  }
}
