* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: #e3edf7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill {
  width: 160px;
  height: 160px;
  position: relative;
}
.outer {
  width: 160px;
  height: 160px;

  border-radius: 50%;
  /* padding: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 10px 1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(0, 0, 0, 0.15);
}
.inner {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
#number {
  font-weight: 600px;
  color: #555;
  font-size: 25px;
}
circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: karan 2s linear  forwards;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes karan {
  100% {
    stroke-dashoffset: 165;
  }
}
